/*ベースカラーは
rgb(45, 81, 108)
or
rgb(97, 171, 170)
*/
nav.navigation {
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	background: rgb(45, 81, 108);
	user-select: none;
}

section {
	width: 200px;
}

section.hamburger {
	height: 50px;
	cursor: pointer;
}

section.hamburger .hamburger-wrapper {
	width: 200px;
	height: 50px;
	padding: 15px 20px;
}

section.hamburger .hamburger-wrapper .hamburger-main {
	width: 20px;
	height: 20px;
	float: right;
}

section.hamburger .hamburger-wrapper .hamburger-main span {
	display: block;
	width: 20px;
	height: 2px;
	background: WHITE;
}

section.hamburger .hamburger-wrapper .hamburger-main span:nth-child(2) {
	margin: 7px 0;
}

section.menu ul {
	display: block;
	width: 200px;
	padding: 0;
	list-style: none;
}

section.menu ul li {
	display: block;
	width: 200px;
	height: 50px;
	transition: .2s;
}

section.menu ul li:hover {
	background: #f5f5f5;
}

section.menu ul li:hover > a {
	color: rgb(45, 81, 108);
}

section.menu ul li a {
	display: block;
	padding: 15px;
	width: 200px;
	height: 50px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.current {
	background: #f5f5f5;
}
.current > a {
	color: rgb(45, 81, 108) !important;
}
