@import url('timeline.css');

.wrapper {
	width: 100%;
	max-width: 1200px;
	font-size: 0;
}

section.about-user {
	width: 100%;
	max-width: 1200px;
}

section.about-user .account-background {
	width: 90%;
	max-width: 1000px;
	height: 300px;
	border-radius: 30px;
	background: linear-gradient(25deg, #F13F79, #FFC778);
}
section.about-user .user-main-wrapper {
	width: 300px;
	height: 300px;
	float: left;
}

section.about-user .account-icon {
	width: 200px;
	height: 200px;
	background-color: #aaa;
	border-radius: 100px;
	margin: -100px 0 20px 50px;
	border: solid 10px #f5f5f5;
}
section.about-user .user-main-wrapper, section.about-user .account-about {
	display: inline-block;
}

section.about-user .account-name {
	width: 200px;
	padding: 0 25px;
}

section.about-user .account-name h1 {
	font-size: 32px;
}

section.about-user .account-name h2 {
	font-size: 22px;
	color: gray;
}

section.about-user .account-about {
	width: 700px;
	/* margin-left: 200px; */
	padding: 20px 60px 20px 0;
	float: left;
}

section.about-user .account-about p {
	min-height: 200px;
	font-size: 18px;
	color: #222;
	word-wrap: break-word;
}

.post-history {
	background: #eee;
	font-size: 16px;
	width: 90%;
	max-width: 1000px;
	min-height: 100vh;
	vertical-align: top;
	display: inline-block;
}
.timeline {
	margin-top: 300px;
}
